header.header
	.envoltura
		.left-col.left
			.logo-container
				a(href="./").logo
					img(src="img/logo.png",alt="LOGO")
		nav.menu.right
			ul
				li
					a(href="./").curva-sup.actual
						span.glyphicon.glyphicon-list
						|  Pacientes
				li
					a(href="#")
						span.glyphicon.glyphicon-briefcase
						|  Personal
